.container {
    border: 1px solid var(--black);
    padding: 20px;
    border-radius: 5px;

    .title {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;

        h1 {
            font-size: 18px;
        }
    }

    .address {
        text-align: center;

        p, h3 {
            margin: 0;
        }
    }

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 20px;

        p, h3 {
            font-size: 20px;
        }

        h3 {
            text-decoration: underline;
        }
    }

    input {
        background: transparent;
        outline: none;
        border-top: 0;
        border-left: 0;
        border-right: 0;
        border-bottom: 1px solid var(--black);
    }

    .content {
        .name-content {
            display: flex;
            align-items: center;
            margin-bottom: 20px;

            div {
                &:nth-child(2) {
                    width: calc(100% - 200px);
                    text-align: center;
                    border-bottom: 1px solid var(--black);
                }

                p {
                    margin: 0;
                }
            }

        }

        .bank-data {
            display: flex;
            align-items: center;
            gap: 3rem;

            .cheque {
                display: flex;
                align-items: center;

                .cheque-div {
                    border-bottom: 1px solid var(--black);
                    width: 200px;
                    text-align: center;
                }
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 20px;

            .price {
                display: flex;
                align-items: center;

                div {
                    &:nth-child(2) {
                        width: 250px;
                        margin-left: 3px;
                        border-bottom: 1px solid var(--black);
                        text-align: center;
                    }
                }
            }
        }
    }
}

.footer-text {
    color: red;
    margin-top: 15px;
}