<div class="container">
    <div class="title">
        <img src="../../../assets/association.jpeg" alt="logo" height="100" width="100">
        <h1>KRISHNAGIRI DISTRICT DEAF ASSOCIATION</h1>
        <img src="../../../assets/trust1.jpeg" alt="logo" height="100" width="100">
    </div>
    <div class="address">
        <p>Regd:231/1996</p>
        <h3>(Dristict Apex Body for Deaf Sports and Social Welfare)</h3>
        <h3>Redd. Under The TamilNadu Societies Registration Act 27 of 1975</h3>
        <p>KDDA Auditorium 29/1,2 Titan Township H.C.F Post, Mathigiri,Hosur-635110 TamilNadu</p>
        <p>Email id:kddakdda&#64;yahoo.com Web : hosurkdda.com Mobile:9443511638</p>
    </div>
    <div class="header">
        <p>No: {{ receiptData.incid }}</p>
        <h3>Receipt</h3>
        <p>Date: {{ receiptData.date }}</p>
    </div>
    <div class="content">
        <div class="name-content">
            <div>Recived with thanks from M/s.</div>
            <div>
                {{ receiptData.income_by }}
            </div>
        </div>
        <div class="name-content">
            <div>the sum of Rupees</div>
            <div>
                {{ toWords.convert(+receiptData.amount || 0) }}
            </div>
        </div>
        <div class="name-content">
            <div>towards</div>
            <div>
                {{ receiptData.income_name }}
            </div>
        </div>
        <div class="bank-data">
            <div class="cheque">
                <div>
                    Cheque No
                </div>
                <div class="cheque-div">
                    {{ receiptData.chequeordd }}
                </div>
            </div>
            <div class="cheque">
                <div>
                    on.
                </div>
                <div class="cheque-div">
                    {{ receiptData.mode }}
                </div>
            </div>
        </div>
        <div class="bottom">
            <div class="price">
                <div>
                    Rs.
                </div>
                <div>
                    {{ receiptData.amount }}
                </div>
            </div>
            <div>
                General Seceratry / Treasurer
            </div>
        </div>
    </div>
</div>