.container {
    padding: 40px;

    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;

        .buttons {
            display: flex;
            align-items: center;
            gap: 10px;

            // button {
            //     width: 100px;
            //     height: 40px;
            //     font-size: 16px;
            //     text-transform: uppercase;
            //     letter-spacing: 1px;
            // }
        }

        h2 {
            letter-spacing: 0.5px;
            text-transform: uppercase;
            font-size: 18px;
            line-height: 23px;
            letter-spacing: 2px;
        }
    }

    .title {
        margin: 20px;

        h1 {
            font-size: 40px;
            text-align: center;
            letter-spacing: 5px;
            text-transform: uppercase;
        }
    }

    .tiles {
        width: 100%;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-top: 20px;
        margin-bottom: 20px;

        mat-card {
            width: 250px;

            &.income {
                background-color: #663399bd;
            }

            &.expense {
                background-color: #ff0000b0;
            }

            mat-card-header {
                mat-card-title {
                    color: white;
                }
            }

            mat-card-content {
                padding: 20px;
                p {
                    text-align: right;
                    color: white;
                }
            }
        }
    }

    .charts {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 20px;
        margin-bottom: 20px;

        .area, .bar {
            flex: 1;

            mat-card-content {
                padding: 20px;

                canvas {
                    width: 100% !important;
                    height: 300px !important;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .charts {
        flex-direction: column;

        mat-card {
            width: 100%;

            mat-card-content {
                padding: 20px;

                canvas {
                    width: 100% !important;
                }
            }
        }

    }
}
